@font-face {
	font-family: "Inter Display";
	src: local("Inter Display"),
		url("/fonts/InterDisplay-Variable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"),
		url("/fonts/Inter-Variable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: local("JetBrains Mono"),
		url("/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
	font-weight: 100 800;
	font-display: swap;
}
